{% extends "@FOSUser/layout.html.twig" %}

{% block title %}Admin{% endblock %}

{% block body %}

<div class="container mb-0">
	<div class="row">
		<div class="col-sm-7">
			<h2>Tous les posts</h2>
		</div>
		<div class="col-sm-5">

			<a href="{{ path('new_post')}}" class="btn btn-primary">+ Ajouter un post</a>
			<a href="{{ path('admin_posts')}}" class="btn btn-secondary">Gérer les posts </a>
			<a href="/register" class="btn btn-outline-warning">Ajouter un admin </a>

		</div>
	</div>
	<div class="mt-2 col-md-13">
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">Titre</th>
		      <th scope="col">Publié le</th>
		      <th scope="col">Contenu</th>
		      <th scope="col">Mises à jour</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for post in posts %}
			    <tr>
			      <th scope="row">{{post.id}}</th>
			      <td>{{post.title}}</td>
			      <td>{{post.published | date("d/m/Y")}}</td>
			      <td>{{ post.content|truncate(25, false, "...")|raw }}</td>
			      <td>
			      	<a href="{{ path('display_post', {'slug': post.slug})}}">
			      		<button type="button" class="btn btn-outline-success">View</button>
					</a>
					<a href="{{ path('edit_post', {'id': post.id})}}">
						<button type="button" class="btn btn-outline-dark">Edit</button>
					</a>
						<button type="button" class="btn btn-outline-danger" onClick="btn_delete({{post.id}})">Delete</button>
			      </td>

			    </tr>
		   	{% endfor %}
		  </tbody>
		</table>

	</div>
</div>

{% endblock %}


{% block javascripts %}

<script type="text/javascript"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">

	function btn_delete($id_post){
		var id = parseInt($id_post,10);

		swal({
	      title: "Delete",
	      text: "Êtes-vous sur de vouloir supprimer le post N°"+id+"?",
	      type: "warning",
	      icon: "warning",
	      buttons: true,
	      dangerMode: true,
	      confirmButtonText: "Delete",
	      cancelButtonText: "Cancel"
	      }
	    ).then(
	      function (isConfirm) {
	        if (isConfirm) {
				var id = parseInt($id_post,10);
	        	url="{{ path('delete_post', {'id': 'id_post'}) }}";
	        	url = url.replace("id_post", parseInt($id_post,10));
				window.location.href= url
	        }
	      }
	    );
	}
</script>
{% endblock %}
