<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% block stylesheets %}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" />

    <style type="text/css">
     body { background: #f5f5f5 !important; } 
 </style>
 {% endblock %}
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-inverse navbar-dark bg-dark ">
            <a class="navbar-brand" href="/">
                <font face="Comic Sans MS" style="color:white;"><h4>Ma Vie Healthy</h4></font>
            </a>
            <div class="nav navbar-nav navbar-right">
                <p style="color:white;">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a  href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                        </a>

                    {% endif %}
                </p>
            </div>
            
            
        </nav>

        <div class="jumbotron mb-0">
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}

        </div>
    </div>
</body>
</html>
